<div class="outApp-container">

  <router-outlet></router-outlet>

  <div class="main-footer">
    <div class="structure">
      <ul style="padding:0px; padding-bottom:10px; margin-bottom:0px;">
        <li>
          <img width="110px;" src="http://www.venders.mx/img/venders-logo-white.png"/>
        </li>
        <br />
        <li style="margin-top:10px;">
          <label style="color:white; font-size:11px;">2016 Venders ©. Conoce nuestro <a (click)="openTerms();" style="cursor: pointer; color: #3380ff;"> Aviso de Privacidad</a></label>
        </li>
      </ul>
    </div>
  </div>

</div>
